#container {
    background-color: grey;
    height: 140px;
    width: 200px;
    box-shadow: 10px 9px 9px -1px rgba(0,0,0,1);
}
#first {
    height: 50px;
    width: 50px;
    background-color: green;
    display: inline-block;
    border: solid;
    border-width:2px;
}

#second {
    height: 50px;
    width: 50px;
    background-color: orange;
    display: inline-block;
    border:solid;
    border-width:2px;

}

.button {
    background-color: rgb(47, 255, 99);
}
